<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>

<body>

<!--Панель навигации (Начало)-->
<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand">
        <span class="font-weight-bold" th:text="${userPrincipal.email}"/> with roles:
        <span th:each="role : ${userPrincipal.getRoleList()}">
            <span th:text="${role.getAuthority()}"/>
        </span>
    </div>
    <form class="form-inline" th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark ml-auto">Logout</button>
    </form>
</nav>
<div class="d-flex" style="height: 100vh">
    <div class="nav flex-column nav-pills col-2 mt-3" style="padding-right:0">
        <a class="nav-link active" id="admin-tab" data-toggle="pill" href="#admin-panel" role="tab">Admin</a>
        <a class="nav-link" id="user-tab" data-toggle="pill" href="#user-panel" role="tab">User</a>
    </div>
    <div class="container-fluid bg-light">
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="admin-panel" role="tabpanel" aria-labelledby="admin-panel-tab">
                <div class="container-fluid">

                    <h1>Admin Panel</h1>

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list">User table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-tab" data-toggle="tab" href="#new">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="list" aria-labelledby="list-tab">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body">

                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="user : ${allUsers}">
                                            <td th:text="${user.getId()}"/>
                                            <td th:text="${user.getUsername()}"/>
                                            <td th:text="${user.getEmail()}"/>
                                            <td>
                                                <div th:each="role : ${user.getRoleList()}"
                                                     th:text="${role.getName()}">
                                                </div>
                                            </td>

                                            <!--Окно редактирования с кнопкой (Начало)-->
                                            <td>
                                                <button type="button" class="btn btn-info" data-toggle="modal"
                                                        th:href="@{'#edituser'+${user.getId()}}">Edit
                                                </button>

                                                <div class="modal fade" th:id="${'edituser' + user.id}"
                                                     tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
                                                     aria-hidden="true">

                                                    <div class="modal-dialog" role="document">

                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <p class="modal-title h5" id="updateModalLabel">
                                                                    Edit user</p>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>

                                                            <div class="modal-body">

                                                                <form id="data" th:method="patch"
                                                                      th:action="@{/admin/update/{id}(id=${user.getId()})}">
                                                                    <div class="col-md-7 offset-md-3 text-center">

                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold"
                                                                                   for="Id">Id</label>
                                                                            <input type="text"
                                                                                   th:value="${user.getId()}"
                                                                                   th:name="id" class="form-control"
                                                                                   readonly id="id">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="nameEdit"
                                                                                   class="font-weight-bold">Username</label>
                                                                            <input type="text"
                                                                                   th:value="${user.getUsername()}"
                                                                                   th:name="username" class="form-control"
                                                                                   id="nameEdit">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="emailEdit"
                                                                                   class="font-weight-bold">Email</label>
                                                                            <input type="email"
                                                                                   th:value="${user.getEmail()}"
                                                                                   th:name="email" class="form-control"
                                                                                   id="emailEdit">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="passwordEdit"
                                                                                   class="font-weight-bold">Password</label>
                                                                            <input type="password" th:name="password"
                                                                                   class="form-control"
                                                                                   id="passwordEdit">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="roleEdit"
                                                                                   class="font-weight-bold">Role</label>
                                                                            <select multiple id="roleEdit"
                                                                                    class="form-control" name="roleList"
                                                                                    size="2" readonly>
                                                                                <option th:each="role : ${roles}"
                                                                                        th:text="${role.name}"
                                                                                        th:value="${role.id}"/>
                                                                            </select>
                                                                        </div>

                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Save
                                                                        </button>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        th:href="@{'#deleteUser'+${user.getId()}}">Delete
                                                </button>

                                                <div class="modal fade" th:id="'deleteUser'+${user.getId()}"
                                                     tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                                                     aria-hidden="true">

                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <p class="modal-title h5" id="deleteModalLabel">
                                                                    Delete user</p>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <form id="del" th:method="DELETE"
                                                                      th:action="@{/admin/delete/{id}(id=${user.getId()}) }">

                                                                    <div class="col-md-7 offset-md-3 text-center">

                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold"
                                                                                   for="idDel">id</label>
                                                                            <input type="text" th:name="id"
                                                                                   class="form-control"
                                                                                   th:value="${user.getId()}" readonly
                                                                                   id="idDel">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold"
                                                                                   for="nameDel">Имя</label>
                                                                            <input type="text"
                                                                                   th:value="${user.getUsername()}"
                                                                                   th:name="name" class="form-control"
                                                                                   readonly id="nameDel">

                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold"
                                                                                   for="emailDel">Email</label>
                                                                            <input type="email"
                                                                                   th:value="${user.getEmail()}"
                                                                                   th:name="email" class="form-control"
                                                                                   readonly id="emailDel">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="roleDel"
                                                                                   class="font-weight-bold">Role</label>

                                                                            <select multiple id="roleDel"
                                                                                    class="form-control" name="index"
                                                                                    size="2" readonly>
                                                                                <option th:each="role : ${roles}"
                                                                                        th:text="${role.name}"
                                                                                        th:value="${role.id}"/>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Delete
                                                                        </button>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="new" aria-labelledby="new-tab">
                            <div class="card">
                                <p class="card-header h5">Add new user</p>
                                <div class="card-body">
                                    <form th:action="@{/admin/new}" th:method="post" th:object="${newUser}">
                                        <div class="col-md-4 offset-md-4 text-center">

                                            <div class="form-group">
                                                <label for="name" class="font-weight-bold">Имя</label>
                                                <input type="text" th:field="*{username}" id="name" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="email" class="font-weight-bold">Email</label>
                                                <input type="email" th:field="*{email}" id="email" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="password" class="font-weight-bold">Пароль</label>
                                                <input type="password" th:field="*{password}" id="password"
                                                       class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="role" class="font-weight-bold">Role</label>
                                                <select th:field="*{roleList}" type="text" id="role" class="form-control">
                                                    <option th:each="role : ${roles}" th:value="${role.getId()}"
                                                            th:text="${role.getName()}"></option>
                                                </select>
                                            </div>
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-success btn-lg form-control" type="submit">Add new
                                                    user
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="user-panel" role="tabpanel" aria-labelledby="user-panel-tab">
                <div class="container-fluid">
                    <div class="h1">User information-page</div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" aria-labelledby="list-tab">
                            <div class="card">
                                <p class="card-header h5">About user</p>
                                <div class="card-body">
                                    <table class="table table-striped">

                                        <thead>
                                        <tr class="table-light">
                                            <th>Id</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td th:text="${userPrincipal.id}"/>
                                            <td th:text="${userPrincipal.username}"/>
                                            <td th:text="${userPrincipal.email}"/>
                                            <td>
                                                <div th:each="role : ${userPrincipal.getRoleList()}"
                                                     th:text="${role.getAuthority()}">
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>